<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看课程预约情况</title>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.6.3/css/layui.css}" media="all">
</head>
<body>
<table id="coursereservation" lay-filter="test"></table>
<script th:src="@{/lib/layui-v2.6.3/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    var courseid = [[${courseid}]];
    console.log("courseid:" + courseid);
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#coursereservation'
            , height: 500
            , url: '/courseReservation?courseid=' + courseid //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'courseid', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'coursename', title: '课程名', sort: true}
                , {field: 'username', title: '用户名'}
                , {field: 'account', title: '账号'}
                , {field: 'teacher', title: '教师'}
                , {field: 'telphone', title: '联系方式'}
                , {field: 'opentime', title: '开课时间', sort: true}
                , {field: 'closetime', title: '结课时间', sort: true}
                , {field: 'remarks', title: '备注信息'}
            ]]
        });

    });
</script>
</body>
</html>